[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pvaluefunctions"]
	path = pvaluefunctions
	url = https://github.com/dinfanger/pvaluefunctions
	shallow = true
	registered = true
